$font-size1: 2rem;
$font-size2: 1.7rem;
$primaryColor1: #29bde0;
$primaryColor2: #f0f0f0;
$primaryColor3: #fab344;
$primaryColor4: #fbfbfb;
@mixin display ($flex){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@mixin appearance ($none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $primaryColor2;
}
nav {
  background-color: $primaryColor1;
  font-size: $font-size1;
  color: #fff;
  .img1 {
    height: 25px;
  }
  .img2 {
    height: 25px;
  }
  @include display (flex);
  justify-content: space-between;
  padding: 1rem 2%;
}
.player-settings{
  margin: 0.5rem 2%;
  @include display (flex);
  .div-l{
    background-color: #fff;
    width: 20%;
    padding: 14rem 0;
    font-size: $font-size1;
    text-align: center;
    border-right: 1px solid #c0c0c0;
    span{
      display: block;
    }
  }
  .div-r{
    display: block;
    position: relative;
    font-size: $font-size2;
    background-color: $primaryColor4;
    width: 80%;
    padding-top: 2rem;
    text-align: center;
    .player-role{
      width: 3rem;
      height: 2.5rem;
      font-size: $font-size2;
      background-color: $primaryColor2;
      border: 1px solid #c0c0c0;
      border-radius: 1rem;
      text-align: center;
      outline: none;
    }
    .container{
      overflow-y: scroll;
      height: 70%;
      .detail {
        .detail-role{
          font-size: $font-size2;
        }
        .detail-number{
          font-size: $font-size2;
        }
      }
    }
    button{
      color: $primaryColor1;
      border-top: 1px solid #c0c0c0;
      position: absolute;
      bottom: 0;
      padding: 2rem 0;
      width: 100%;
      img{
        display: block;
        margin-left: 1rem;
      }
      span{
        font-size: $font-size2;
      }
      @include display (flex);
      justify-content: center;
    }
  }
}
.word-settings{
  margin: 0.5rem 2%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  input{
    font-size: $font-size2;
    display: block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 94%;
    border: none;
    border-bottom: 1.5px solid $primaryColor2;
    outline: none;
  }
}
.num-player{
  font-size: $font-size2;
  margin: 0.5rem 2%;
  background-color: #fff;
  padding: 0.6rem;
  text-align: center;
  input{
    width: 4rem;
    height: 3rem;
    display: inline-block;
    margin: 0 1rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    font-size: $font-size1;
    background-color: $primaryColor2;
    color: $primaryColor3;
    text-align: center;
  }
  .range-bar{
    width: 80%;
    margin: 1.7rem 0;
    outline: none;
    @include appearance (none);
    height: 0.5rem;
    background: $primaryColor3;
  }
  .range-bar::-webkit-slider-thumb {
    @include appearance (none);
    -webkit-box-shadow:0 0 2px;
    //增添滑块阴影
    width: 3rem;
    height: 1.8rem;
    background-image: url("task-image/range2.png");
    background-size: cover;
  }
  .btn{
    width: 2rem;
    height: 2rem;
    border: 2px solid $primaryColor2;
  }
}

.deal{
  display: block;
  margin: 0.5rem 2%;
  background-color: $primaryColor3;
  font-size: $font-size1;
  color: #fff;
  width: 96%;
  padding: 1.5rem 0;
}